<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UpdateVehicleInformation.Properties.Settings.importvehiclesConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\bjcsrv01\Documents\WAREHOUSE\WhseTrac\importvehicles.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
